<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="operators" type="java.util.List<com.huotu.hotsupplier.hbm.service.entity.author.SupOperator>"*/-->
<!--/*@thymesVar id="authorities" type="java.util.List<com.huotu.hotsupplier.hbm.service.common.Authority>"*/-->
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"/>
    <title>
        操作员管理
    </title>
    <link href="../../resources/3rdParty/css/admin.global.css" th:href="@{/resources/3rdParty/css/admin.global.css}" rel="stylesheet" type="text/css"/>
    <link href="../../resources/3rdParty/css/admin.content.css" th:href="@{/resources/3rdParty/css/admin.content.css}" rel="stylesheet" type="text/css"/>
    <link href="../../resources/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resources/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resources/3rdParty/jBox/Skins/Green/jbox.css"
          th:href="@{/resources/3rdParty/jBox/Skins/Green/jbox.css}" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .disable {
            filter: Alpha(Opacity=60);
            opacity: 0.6;
        }

        .setRed {
            color: red;
        }

        .setGreen {
            color: green;
        }

        .hide {
            display: none;
        }

        .data-form th {
            background: #eee;
            padding-right: 10px;
            line-height: 35px;
            text-align: right;
            font-weight: bold;
            width: 80px;
        }

        .data-form td {
            background: #fff;
            padding-left: 10px;
            width: 180px;
            color: #000;
        }
    </style>
    <script src="../../resources/3rdParty/js/jquery-1.7.2.min.js" th:src="@{/resources/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script src="../../resources/lib/jquery.utils.js" th:src="@{/resources/lib/jquery.utils.js}"></script>
    <script src="../../resources/3rdParty/jBox/jquery.jBox-2.3.min.js" th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script src="../../resources/3rdParty/js/admin.js" th:src="@{/resources/3rdParty/js/admin.js}"></script>
    <script src="../../resources/3rdParty/jqueryui/jquery-ui-1.8.20.min.js" th:src="@{/resources/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var ajaxUrl = /*[[@{/operator/}]]*/ "/operator";
        /*<![CDATA[*/
        function setAuthority() {
            J.ShowDialog("menuDialog", "设置权限", function () {
                var self2 = this;
                $(self2).dialog('close');
            }, function () {
                $(this).dialog('close');
            })
        }

        function submitForm(managerid, callback) {
            var url = "operators";
            if (managerid == 1) {
                url = "updateOperator";
            }
            var loginId = $("#loginId").val();
            var loginName = $("#loginName").val();
            var realName = $("#realName").val();
            var password = $("#password").val();
            var confirmPass = $("#confirmPass").val();
            var phoneNo = $("#phoneNo").val();
            var email = $("#email").val();
            var authorityIds = getCheckedMenu();
            var roleName = $("#roleName").val();

            if (loginName.length == 0) {
                $.jBox.tip("请输入登录名");
                return;
            }
            if (realName.length == 0) {
                $.jBox.tip("请输入姓名");
                return;
            }
            if (managerid == 0 && password.length == 0) {
                $.jBox.tip("请输入密码");
                return;
            }
            if (managerid == 0 && (password != confirmPass)) {
                $.jBox.tip("两次密码输入不相同");
                return;
            }
            if (phoneNo.length == 0) {
                $.jBox.tip("请输入手机号码");
                return;
            }
            if (!J.IsMobile(phoneNo)) {
                $.jBox.tip("手机号码格式不正确");
                return;
            }
            if (email.length > 0 && !J.IsEmail(email)) {
                $.jBox.tip("邮箱格式不正确");
                return;
            }
            if (roleName.length == 0) {
                $.jBox.tip("请输入角色名");
                return;
            }
            if (authorityIds.length == 0) {
                $.jBox.tip("还没有设置权限");
                return;
            }
            $.jBox.tip("保存中...", "loading");

            var requestData = {
                loginId: loginId,
                loginName: loginName,
                realName: realName,
                password: password,
                phoneNo: phoneNo,
                email: email,
                authorityIds: authorityIds,
                roleName: roleName
            };

            setTimeout(function () {
                J.GetJsonRespons(url, requestData, function (result) {
                    callback(result);
                }, function () {
                    $.jBox.tip("保存失败，请重试", "error");
                }, "post");
            }, 400);
        }
        function editOperator(obj) {
            var operatorId = $(obj).attr("operId");
            $.ajax({
                type: "GET",
                url: "operators/" + operatorId,
                dataType: "json",
                success: function (result) {
                    $("#loginId").val(result.data.id);
                    $("#loginName").val(result.data.loginName);
                    $("#realName").val(result.data.realName);
                    $("#phoneNo").val(result.data.phoneNo);
                    $("#email").val(result.data.email);
                    $("#roleName").val(result.data.roleName);
//                    $("input[name='authorityIds']").removeAttr("checked");
                    $("input[name='authorityIds']").each(function () {
                        var a = $(this);
                        $.each(result.data.authorityList, function (n, value) {
                            if (value.id == a.val()) {
                                a.attr("checked", true);
                            }
                        })
                    });
                    infoDialog(1);
                },
                error: function () {
                    $.jBox.tip("发生错误", "error");
                }
            });

        }
        function updateState(obj) {
            var enabled = $(obj).attr("operState");
            var msg = !enabled ? "确定要解冻该管理员吗?" : "确定要冻结该管理员吗？";

            jBox.confirm(msg, '提示', function (v, h, f) {
                if (v == "ok") {
                    $.jBox.tip("操作中...", 'loading');
                    baseData.action = "updatestate"

                    var requestData = $.extend({}, baseData, {
                        managerid: data.ManagerID,
                        changeState: data.State == 1 ? 0 : 1
                    })

                    setTimeout(function () {
                        J.GetJsonRespons(ajaxUrl, requestData, function (result) {
                            if (result.code == 200) {
                                self.setList(json);
                                $.jBox.tip("操作成功", "success");
                            } else {
                                $.jBox.tip("操作失败", "error");
                            }
                        }, function () {
                        }, "post");
                    }, 500);
                }
                return true;
            });
        }
        function addOperator() {
            $("#loginName").val("");
            $("#realName").val("");
            $("#password").val("");
            $("#confirmPass").val("");
            $("#passtr").show();
            $("#phoneNo").val("");
            $("#email").val("");
            $("input[name='authorityIds']").removeAttr("checked");
            $("#roleName").val("");
            infoDialog(0);
        }

        function infoDialog(managerid) {
            J.ShowDialog("managerInfoDialog", managerid > 0 ? "编辑" : "新增", function () {
                var self2 = this;
                submitForm(managerid, function (result) {
                    if (result.code == 200) {
//                        self.setList(result);
                        $.jBox.tip(result.msg, "success");
                        $(self2).dialog('close');
                        location.reload();
                    } else {
                        $.jBox.tip(result.msg, "error");
                    }
                })
            }, function () {
                $(this).dialog('close');
            })
        }
        function getCheckedMenu() {
            var checkedObj = $("input[name='authorityIds']:checked");
            var checkedMenu = "";

            checkedObj.each(function () {
                checkedMenu += $(this).val() + ",";
            });
            return checkedMenu.substring(0, checkedMenu.lastIndexOf(","));
        }
        function searchOperator() {
            $("#form1").submit();
        }


        function modifyPassword() {
            $("#oldPass").val("");
            $("#newPass").val("");
            $("#confirmNewPass").val("");
            modifyPasswordDialog();
        }

        function modifyPasswordDialog() {
            J.ShowDialog("passwordModifyDialog", "登录密码修改", function () {
                var self2 = this;
                submitPasswordForm(function (result) {
                    if (result.code == 200) {
//                        self.setList(result);
                        $.jBox.tip(result.msg, "success");
                        $(self2).dialog('close');
                        location.reload();
                    } else {
                        $.jBox.tip(result.msg, "error");
                    }
                })
            }, function () {
                $(this).dialog('close');
            })
        }
        //提交登录密码修改表单
        function submitPasswordForm(managerid, callback) {
            var url = "modifyPassword";

            var loginId = $("#oldPass").val();
            var loginName = $("#newPass").val();
            var realName = $("#confirmNewPass").val();

            if (newPass.trim().length == 0) {
                $.jBox.tip("请输入新密码！");
                return;
            }
            if (newPass != confirmNewPass) {
                $.jBox.tip("两次密码输入不相同！");
                return;
            }
            $.jBox.tip("保存中...", "loading");

            var requestData = {
                oldPass: oldPass,
                newPass: newPass
            };

            setTimeout(function () {
                J.GetJsonRespons(url,
                    requestData,
                    function (result) {
                        callback(result);
                    },
                    function () {
                        $.jBox.tip("保存失败，请重试", "error");
                    },
                    "post");
            }, 400);
        }
        /*]]>*/
    </script>


</head>
<body marginwidth="0" marginheight="0" style="cursor: auto;">
<form method="post" action="accountManage" id="form1">

    <div class="container">
        <div class="blank10">
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>

                <h3>操作员</h3>

                <div class="bar">
                    <a class="btn-lit" href="javascript:operatorHandler.showEdit(0)">
                        <span>新增</span></a>
                </div>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="min-height: 450px;">
                <div id="bg" style="width: 100%; height: 100%; position: absolute; z-index: 555; display: none;">
                    <img th:src="@{/resource/3rdParty/images/loading.gif}" src="resource/3rdParty/images/loading.gif" border="0" style="margin-left: 46%; margin-top: 13%;"/>
                </div>
                <div class="cnt" id="content" width="1392" style="display: block;">
                    <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr class="even">
                            <th scope="col" style="width: 5%">序号
                            </th>
                            <th scope="col" style="width: 15%">登录名
                            </th>
                            <th scope="col" style="width: 20%">角色名
                            </th>
                            <th scope="col" style="width: 10%">姓名
                            </th>
                            <th scope="col" style="width: 15%">联系手机
                            </th>
                            <th scope="col" style="">注册时间
                            </th>
                            <th scope="col" style="width: 10%">操作
                            </th>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr th:each="operator:${operators}">
                            <td class="txt40 c" th:text="${operatorStat.count}">1</td>
                            <td class="txt40 c" th:text="${operator.username}">lqchuli</td>
                            <td class="txt40 c" th:text="${operator.roleName}"></td>
                            <td class="txt40 c" th:text="${operator.realName}"></td>
                            <td class="txt40 c" th:text="${operator.mobile}"></td>
                            <td class="txt40 c" th:text="${#dates.format(operator.createTime,'yyyy-MM-dd HH:mm:ss')}">2014-09-04 19:25:25</td>
                            <td class="txt40 c">
                                <a href="javascript:operatorHandler.showEdit(1)" th:href="|javascript:operatorHandler.showEdit(${operator.id})|">编辑</a> |
                                <a href="javascript:operatorHandler.deleteOperator(1)" th:href="|javascript:operatorHandler.deleteOperator(${operator.id})|">删除</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="edit_dialog" style="display: none;">

</div>

<div id="authorities_edit" style="display: none;padding: 20px;">
    <ul style="list-style: none;width:300px;">
        <li th:each="authority:${authorities}">
        <span style="margin-left: 20px">
        <input class="code" type="checkbox" name="authorities" th:value="${authority.code}"
               style="border: none;"/>
        <span th:text="${authority.value}">商品管理</span>
        </span>
        </li>
    </ul>
</div>

</body>
</html>

<script type="text/javascript">
    var operatorHandler = {
        deleteOperator: function (operatorId) {
            J.jboxConfirm("确定要删除该操作员?", function () {
                $.jBox.tip("正在删除...", "loading");
                J.GetJsonRespons(ajaxUrl + "delete", {
                    operatorId: operatorId
                }, function (json) {
                    if (json.code == 200) {
                        $.jBox.tip("删除成功", "success");
                        window.location.reload();
                    } else {
                        $.jBox.tip("删除失败", "error");
                    }
                }, function () {
                }, J.PostMethod);
            });
        },
        showEdit: function (operatorId) {
            $("#edit_dialog").html($("#operator_edit_template").html());
            $("input[name=authorities]:checked").removeAttr("checked");
            if (operatorId > 0) {
                $("#pass_field").hide();
                $("#username").attr("readonly", "readonly");
                J.GetJsonRespons(ajaxUrl + operatorId, null, function (json) {
                    var operator = json.data;
                    $("#username").val(operator.username);
                    $("#realName").val(operator.realName);
                    $("#roleName").val(operator.roleName);
                    $("#mobile").val(operator.mobile);
                    $("#authorities").val(operator.authoritiesStr);
                    $.each(operator.authorities, function () {
                        $("input[name=authorities][value=" + this.authority + "]").attr("checked", "checked");
                    });
                }, function () {
                }, J.GetMethod);
            }
            var title = operatorId == 0 ? "新增操作员" : "修改操作员";
            J.ShowDialog("edit_dialog", title, function () {
                var self = this;
                var requestData = operatorHandler.checkForm(operatorId);
                if (requestData != null) {
                    $.jBox.tip("正在保存...", "loading");

                    J.GetJsonRespons(ajaxUrl + "save", requestData, function (json) {
                        if (json.code == 200) {
                            $.jBox.tip("保存成功", "success");
                            $(self).dialog('close');
                            window.location.reload();
                        } else if (json.code == 100) {
                            $.jBox.tip("保存失败,存在相同的用户名", "error");
                        } else {
                            $.jBox.tip("保存失败", error);
                        }
                    }, function () {
                    }, J.PostMethod);
                }
            }, function () {
                $(this).dialog('close');
            });
        },
        setAuthorities: function () {
            J.ShowDialog("authorities_edit", "权限设置", function () {
                var authorities = "";
                $("input[name=authorities]:checked").each(function () {
                    var authority = $(this).val();
                    authorities += authority + ",";
                });
                if (authorities.length == 0) {
                    $.jBox.tip("请设置权限");
                    return;
                }
                $("#authorities").val(authorities.substr(0, authorities.length - 1));
                $(this).dialog('close');
            }, function () {
                $(this).dialog('close');
            })
        },
        checkForm: function (operatorId) {
            var username = $.trim($("#username").val());
            var password = $.trim($("#password").val());
            var realName = $.trim($("#realName").val());
            var confirmPass = $.trim($("#confirmPass").val());
            var roleName = $.trim($("#roleName").val());
            var mobile = $.trim($("#mobile").val());
            var authorities = $.trim($("#authorities").val());

            if (username.length == 0) {
                $.jBox.tip("请输入用户名");
                return null;
            }
            if (operatorId == 0) {
                if (password.length == 0) {
                    $.jBox.tip("请输入密码");
                    return null;
                }
                if (password != confirmPass) {
                    $.jBox.tip("两次输入的密码不相同");
                    return null;
                }
            }
            if (roleName.length == 0) {
                $.jBox.tip("请输入角色名称");
                return null;
            }
            if (authorities.length == 0) {
                $.jBox.tip("还没有设置权限");
                return null;
            }
            if (mobile.length > 0) {
                if (!J.IsMobile(mobile)) {
                    $.jBox.tip("请输入正确的手机号码");
                    return null;
                }
            }
            var requestData = {
                operatorId: operatorId,
                username: username,
                password: password,
                realName: realName,
                roleName: roleName,
                mobile: mobile,
                authorities: authorities
            };
            return requestData;
        }
    }
</script>

<script type="text/html" id="operator_edit_template">
    <div class="cnt form" style="padding: 10px; width: 585px; height: 165px;">
        <table id="contenttable" class="data-form" border="0" cellspacing="1" cellpadding="0"
               style="background: #e1e1e1;">
            <tbody>
            <tr style="color: #e8e8e8">
                <th scope="row">登录名：</th>
                <td>
                    <input type="text" id="username"/></td>
                <th scope="row">姓名：</th>
                <td>
                    <input type="text" id="realName"/></td>
            </tr>
            <tr style="color: rgb(232, 232, 232); display: table-row;" id="pass_field">
                <th scope="row">密码：</th>
                <td>
                    <input type="password" id="password"/></td>
                <th scope="row">确认密码：</th>
                <td>
                    <input type="password" id="confirmPass"/></td>
            </tr>
            <tr style="color: #e8e8e8">
                <th scope="row">角色名：</th>
                <td>
                    <input type="text" id="roleName" onkeydown="J.CertainNumber()"/></td>
                <th scope="row">联系手机：</th>
                <td>
                    <input type="text" id="mobile"/></td>
            </tr>
            <tr style="color: #e8e8e8">
                <th scope="row">设置权限：</th>
                <td colspan="3">
                    <button type="button" onclick="operatorHandler.setAuthorities()">点击设置</button>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" id="authorities" value=""/>
    </div>
</script>