<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>添加门店</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/flatpickr/3.0.6/flatpickr.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet"/>

    <!--高德地图-->
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <link href="../../resources/css/custom.css" th:href="@{/resources/css/custom.css}" rel="stylesheet"/>
    <style type="text/css">
        .marker-route{
            background: url(http://webapi.amap.com/theme/v1.3/markers/n/mark_bs.png);
            position: absolute;
            width: 19px;
            height: 33px;
            text-align: center;
            color: #ffffff;
        }
    </style>

</head>
<body class="gray-bg">

<div class="wrapper wrapper-content gray-bg">
    <input type="hidden" name="customerId" th:value="${customerId}"/>
    <div class="ibox">
        <div class="ibox-content">
            <ol class="breadcrumb">
                <li><strong th:text="${currentData.id==null}?'新增门店':'编辑门店'">新增门店</strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a id="baseInfoBtn" data-toggle="tab" href="#tab-1">基本信息</a>
                        </li>
                        <li th:if="${currentData.id!=null}">
                            <a id="sendRuleBtn" data-toggle="tab" href="#tab-2">配送规则</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <form id="shopBasicInfo">
                                <div class="panel-body form-horizontal ">
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">登录名
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="loginName" type="text" th:value="${loginName}" required="true" th:disabled="${currentData.id != null}"
                                                   class="form-control" placeholder="登录名"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">门店名称
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="name" type="text" id="name" th:value="${currentData.name}" required="true" maxlength="20"
                                                   class="form-control" placeholder="门店名称"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">联系电话
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="areaCode" type="text" style="width: 100px;" th:value="${currentData.areaCode}" required="true"
                                                   number="rue" rangelength="[3,5]"
                                                   class="form-control" placeholder="区号"/>
                                            -
                                            <input name="telephone" type="text" th:value="${currentData.telephone}" required="true" number="true" rangelength="[7,10]"
                                                   class="form-control" placeholder="请输入电话号码"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">所属区域
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <div id="citys">
                                                <select class="form-control" id="province" required="true"
                                                        onchange="mapHandler.changeCity(this)"></select>
                                                <select class="form-control" id="city" onchange="mapHandler.changeCity(this)" required="true"></select>
                                                <select class="form-control" id="district" required="true" onchange="mapHandler.changeCity(this)"></select>
                                                <select class="form-control" id="street" onchange="mapHandler.setCenter(this)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">详细地址
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-3">
                                            <div class="input-group" style="width: 100%">
                                                <input name="address" id="J_address" th:value="${currentData.address}" required="true" maxlength="100"
                                                       class="form-control" placeholder="详细地址"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-success" id="J_search"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="lan"></label>
                                        <input type="hidden" name="lan" id="lan" th:value="${currentData.lngLat != null ? currentData.lngLat.lng : ''}" required="true"/>
                                        <input type="hidden" name="lat" id="lat" th:value="${currentData.lngLat != null ? currentData.lngLat.lat : ''}"/>
                                        <label class="col-sm-2 control-label">地图定位
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-6" id="addressMap" style="height: 400px;">
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">营业时间
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="openTime" type="text" required="true" th:value="${currentData.openTime}"
                                                   class="form-control" placeholder="起始时间"/>
                                            -
                                            <input name="closeTime" type="text" required="true" largeThan="openTime" th:value="${currentData.closeTime}"
                                                   class="form-control" placeholder="结束时间"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">截单时间
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="deadlineTime" type="text" required="true" lessThan="closeTime" th:value="${currentData.deadlineTime}"
                                                   class="form-control" placeholder="截单时间"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">店招图
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <img id="logo_uri" style="width:80px;height: 80px;" th:src="${currentData.mallLogoUri} != null ? ${currentData.mallLogoUri} : @{/resources/img/none.png}"/>
                                            <button class="btn btn-sm" id="uploadImage" type="button"
                                                    onclick="javascript:$('#uploadFile').click();">上传图片</button>
                                            <input onchange="uploadHandler.uploadImg('uploadFile','logo_uri','logo')"
                                                   id="uploadFile" name="btnFile"
                                                   style="display: none;" type="file"/>
                                            <label for="logo"></label>
                                            <input type="hidden" name="logo" id="logo" th:value="${currentData.logo}" required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">ERP门店
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="erpId" type="text" th:value="${currentData.erpId}" required="true"
                                                   class="form-control" placeholder="请输入对应的erp门店id"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" class="btn btn-m btn-success m-r-lg" onclick="editShopHandler.saveShopBasicInfo()">
                                            确&nbsp;定
                                        </button>
                                        <button type="button" class="btn btn-m btn-success" onclick="window.location.reload()">
                                            取&nbsp;消
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="tab-2" class="tab-pane"  th:if="${currentData.id!=null}">
                            <form id="shopMoreInfo">
                                <div class="panel-body form-horizontal ">
                                    <div class="form-group">
                                        <label for="lan"></label>
                                        <label class="col-sm-2 control-label">地图定位
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-6" id="sendArea" style="height: 400px;">
                                        </div>
                                        <div class="col-sm-4" id="J_Region">
                                            <div  id="J_RegionInit">
                                                <button type="button" class="btn btn-m btn-success" data-show="J_RegionDistribution" onclick="mapHandler.regionOption(this)">
                                                    门店配送范围
                                                </button>
                                                <button type="button" class="btn btn-m btn-success" data-show="J_RegionDivision" onclick="mapHandler.regionOption(this)">
                                                    划分配送区域
                                                </button>
                                                <input type="hidden" name="distributionRegions" id="distributionRegions"/>
                                                <input type="hidden" name="distributionMarkers" />
                                                <input type="hidden" name="distributionDivisionRegions" id="distributionDivisionRegions"/>
                                            </div>
                                            <div class="displayNone" id="J_RegionDistribution">
                                                <h3 class="text-muted">门店配送范围</h3>
                                                <div class="form-inline">
                                                    <button type="button" class="btn btn-sm btn-success" data-show="J_RegionInit" onclick="mapHandler.saveRegionDistribution(this)">
                                                        保存
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="displayNone" id="J_RegionDivision">
                                                <h3 class="text-muted">配送区域划分</h3><small>在地图上右键点击可添加或删除点标记</small>
                                                <div class="form-inline">
                                                    <button type="button" class="btn btn-m btn-success" data-show="J_RegionInit" onclick="mapHandler.saveRegionDivision(this)">
                                                        保存
                                                    </button>
                                                    <button type="button" class="btn btn-m btn-success" id="J_addRegionItem">
                                                        添加
                                                    </button>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th class="col-sm-4">区域名称</th>
                                                            <th class="col-sm-4">区域范围</th>
                                                            <th class="col-sm-2">颜色</th>
                                                            <th class="col-sm-2">操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="J_regionList">
                                                        <tr th:if="${!#arrays.isEmpty(currentData.distributionDivisionRegions)}" th:each="region:${currentData.distributionDivisionRegions}" th:attr="data-id=${region.id}">
                                                            <td><input type="text" value="区域名称' + index + '" th:value="${region.name}" class="form-control" readonly="readonly"></td>
                                                            <td><input type="text" placeholder="区域范围" class="form-control" th:value="${region.markerNum}" readonly="readonly"></td>
                                                            <td>
                                                                <div class="input-group colorpicker-component">
                                                                    <input type="hidden" value="#3366FF" th:value="${region.color}" placeholder="区域范围" class="form-control" readonly="readonly" disabled="disabled">
                                                                    <span class="input-group-addon"><i></i></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-success btn-xs js-regionItemEdit">编辑</button>
                                                                <button type="button" class="btn btn-success btn-xs js-regionItemSave displayNone">保存</button>
                                                                <button type="button" class="btn btn-default btn-xs js-regionItemDel">删除</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">配送费
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="deliveryCost" type="text" th:value="${currentData.deliveryCost}" required="true" maxlength="20"
                                                   class="form-control" placeholder="请输入配送费用"/> 元
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">起送金额
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="minCost" type="text" th:value="${currentData.minCost}" required="true" maxlength="20"
                                                   class="form-control" placeholder="满一定金额才能下单"/> 元
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="col-sm-2 control-label">免邮金额
                                            <span class="asterisk">*</span></label>
                                        <div class="col-sm-10">
                                            <input name="freeCost" type="text" th:value="${currentData.freeCost}" required="true" maxlength="20"
                                                   class="form-control" placeholder="满此金额订单免邮"/> 元
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-m btn-success m-r-lg" onclick="editShopHandler.saveShopMoreInfo()">
                                                确&nbsp;定
                                            </button>
                                            <button type="button" class="btn btn-m btn-success" onclick="window.location.reload()">
                                                取&nbsp;消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--基础框架js-->
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/flatpickr/3.0.6/flatpickr.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/flatpickr/3.0.6/l10n/zh.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/layer/3.0.3/layer.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/hotui/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<!--valid-->
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>
<!--高德地图-->
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=e99fce513b3e7bf7da5a28cebf1e9ffe&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.DistrictSearch,AMap.PolyEditor,AMap.MouseTool"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script type="text/javascript" th:inline="javascript">
    var baseUrl = /*[[@{/}]]*/ "/";
    var customerId = /*[[${customerId}]]*/ "1";
    var storeId = /*[[${currentData.id}]]*/ "1";
    var provinceCode = /*[[${currentData.provinceCode}]]*/ "浙江省";
    var cityCode = /*[[${currentData.cityCode}]]*/ "杭州市";
    var districtCode = /*[[${currentData.districtCode}]]*/ "滨江区";
    var distributionRegions = /*[[${currentData.distributionRegions}]]*/"" ;
    var distributionMarkers = /*[[${currentData.distributionMarkers}]]*/ "";
    var distributionDivisionRegions = /*[[${currentData.distributionDivisionRegions}]]*/ "";
    var lng = /*[[${currentData.lngLat != null ? currentData.lngLat.lng :''}]]*/ "120.223807",lat = /*[[${currentData.lngLat != null ? currentData.lngLat.lat : ''}]]*/ "30.208392";
</script>
<script  type="text/javascript" src="../../resources/js/store/edit_store.js"
         th:src="@{/resources/js/store/edit_store.js}"></script>
</body>
</html>
