<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN"
      xmlns="http://java.sun.com/jsf/composite">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="shortcut icon" href="favicon_pdmall.ico"/>-->
    <title>供应商中心</title>
    <script type="text/javascript" src="../resources/js/jquery/jquery-1.7.2.min.js"
            th:src="@{/resources/js/jquery/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resources/js/jquery/jquery.utils.js"
            th:src="@{/resources/js/jquery/jquery.utils.js}"></script>
    <script src="../resources/js/jquery/jquery-ui-1.8.20.min.js"
            th:src="@{/resources/js/jquery/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../resources/js/jquery/jquery.jBox-2.3.min.js"
            th:src="@{/resources/js/jquery/jquery.jBox-2.3.min.js}"></script>
    <link href="../resources/css/jBox/Skins/Green/jbox.css" th:href="@{/resources/css/jBox/Skins/Green/jbox.css}"
          rel="stylesheet" type="text/css"/>
    <link href="../resources/css/ResPdmall/css/houtaikk.css" th:href="@{/resources/css/ResPdmall/css/houtaikk.css}"
          rel="stylesheet"/>
    <script type="text/javascript" th:inline="javascript">
        var ajaxUrl = /*[[@{/}]]*/ "/";
        $(function () {
            adaptFrame.init();
        });
        var adaptFrame = {};
        var mallMenuManager = {};
        mallMenuManager.init = function () {
            $('.dropdown-toggle').click(function () {
                $('.dropdown-menu').toggle();
            });
        };
        mallMenuManager.index = function (url) {
            window.location.href = ajaxUrl+ url;
        };
        mallMenuManager.active = function (menuId, childMenuId) {
            $(".active").removeClass("active");
            $("#menu_" + menuId).addClass("active");
            var leftMenu = /*[[@{/leftMenu}]]*/ "";
            leftMenu = leftMenu + "?parentId=" + menuId + "&activeMenuId=" + childMenuId;
            _loadLeftMenu(leftMenu);
            _loadMain(leftMenu);
        };
        adaptFrame.init = function () {
            // 浏览改大小
            $(window).bind('resize', function () {
                var heightLeft = adaptFrame._getLeftHeight();
                var heightMain = adaptFrame._getMainHeight();
                var widthMain = adaptFrame._getMainWidth();

                $("#con_left").height(heightLeft);

                $("#content").attr('height', heightMain);
                $("#content").attr('width', widthMain);

                $('#con_right').height(heightMain);

                $('#loading').css('padding-top', heightMain / 2).width(widthMain);
                //alert(Math.random());
            });
        };
        adaptFrame._getLeftHeight = function () {
            return $(window).height() - 177;
        };

        adaptFrame._getMainHeight = function () {
            return $(window).height() - 51;
        };

        adaptFrame._getMainWidth = function () {
            return $(window).width() - $('#con_left').width();
        };
        adaptFrame.outputLeftMenu = function () {
            var width = $('#con_left').width();
            var scrolling = 'auto';
            var height = this._getLeftHeight();
            var ifSrc = /*[[@{/leftMenu}]]*/ "ordersManage.html";
            document.write('<iframe id="content_left" width="' + width + '" height="' + height + 'px" class="hide" marginwidth="0" marginheight="0" frameborder="0" scrolling="' + scrolling + '" onload="$(\'#loading\').hide();$(this).show();" src="' + ifSrc + '" style="overflow-x:hidden;"></iframe>');
        };
        adaptFrame.outputMain = function (src) {
            var width = adaptFrame._getMainWidth()-20;
            var scrolling = $.isIE6 == true ? 'yes' : 'auto';
            var height = this._getMainHeight();
            document.write('<iframe id="content" width="' + width + '" height="' + height + 'px" class="hide" marginwidth="0" marginheight="0" frameborder="0" scrolling="' + scrolling + '" onload="$(\'#loading\').hide();$(this).show();" src="' + src + '"></iframe>');
            $('#con_right').height(height);
        };
        var homeHandler ={
            showUpdatePwd:function () {
                var url = "showModifyPwd";
                J.PopupIFrame(url, "修改密码", 400, 200, "ifrm", "", "auto", "");
            },
            index:function () {
                var url = ajaxUrl+"/index"
                adaptFrame.outputMain(url);
            }
        }
        function _loadLeftMenu(leftUrl) {
            document.getElementById("content_left").src = leftUrl;
        }
        function _loadMain(url) {
            $('#loading').show();
            $('#content').hide().attr('src', url);
        }
    </script>
</head>
<body>
<section>
    <div class="leftpanel">
        <div class="logopanel">
            <th:block th:if="${logoName != null and logoName != ''}">
                <h1 style="color: white;padding: 10px;" th:text="${logoName}"></h1>
            </th:block>
            <th:block th:if="${logoName == null || logoName == ''}">
                <img src="../resources/images/bglogo_Ultimate.png" height="48px" style="margin-left: 15px"/>
            </th:block>
        </div>
        <!--账号信息BEGIN-->
        <div class="leftpanelinner" style="border-bottom: 1px dotted #444;">
            <ul class="nav nav-pills nav-stacked nav-bracket" style="margin-bottom: 0px;">
                <li style="clear: both; height: 5px"></li>
                <li>
                    <p style="margin-left: 15px">
                            <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a href="javascript:;" style="color: #8f939e"
                                   th:text="${#authentication.principal.username}">chinahtwx@163.com</a>
                            </span>

                        <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a style="color: #8f939e" title="该编号用于大伙伴/操作员登录时填写">商户编号：<span
                                        th:text="${mallCustomer.customerId}">10000005</span></a>
                            </span>

                        <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a href="javascript:homeHandler.showUpdatePwd()" style="color: #8f939e;">修改密码</a>
                            </span>

                        <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a id="logout" href="javascript:void(0)" th:href="@{/logout}"
                                   style="color: #8f939e;">退出</a>
                            </span>
                    </p>
                </li>
            </ul>
        </div>
        <!--账号信息END-->
        <!--菜单BEGIN-->
        <div id="con_left">
            <script type="text/javascript">
                adaptFrame.outputLeftMenu();
            </script>
        </div>
        <!--菜单END-->
    </div>
    <div class="mainpanel" style="min-width: 1000px; overflow: hidden;">
        <div class="headerbar">
            <div class="header-left" style="padding-left: 5px;">
                <div class="topnav">
                    <ul class="nav nav-horizontal">
                        <li class="active" onclick="mallMenuManager.index('home')">
                            <a style="cursor: pointer;"><i class="fa fa-home"></i>
                                <span>首页</span></a>
                        </li>
                        <li th:onclick="|mallMenuManager.active('${menu.menuId}','')|" th:id="${'menu_'+menu.menuId}"
                             th:each="menu:${storMenus}">
                            <a style="cursor: pointer;"><i class="fa fa-folder-o"></i>
                                <span th:text="${menu.menuName}">订单管理</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--公告条BEGIN-->
        <div style="clear: both"></div>
        <div class="pageheader" style="padding-left: 12px;">
        </div>
        <div style="clear: both"></div>
        <!--公告条END-->

        <!--主体BEGIN-->
        <div id="con_right">
            <div id="loading"
                 style="height: auto; text-align: center; padding-top: 436px; display: none; width: 1061px;">
                <img src="resources/3rdParty/images/loading.gif" alt="loading" border="0"/>
            </div>
            <!--<iframe id="content" width=""></iframe>-->
            <script type="text/javascript">
                adaptFrame.outputMain('index');
            </script>
        </div>
        <!--主体END-->
    </div>
</section>
</body>
</html>

