<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="favicon_pdmall.ico"/>
    <title>供应商中心</title>
    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet">
</head>
<body class="horizontal-menu-sidebar" style="overflow: hidden;">
<section>
    <div class="leftpanel">
        <!--账号信息BEGIN-->
        <div class="leftpanelinner" style="border-bottom: 1px dotted #444;">
            <ul class="nav nav-pills nav-stacked nav-bracket" style="margin-bottom: 0px;">
                <li style="clear: both; height: 5px"></li>
                <li>
                    <p style="margin-left: 15px">
                            <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a href="javascript:;" style="color: #8f939e">用户名：<span
                                        th:text="${mallCustomer.username}">10000005</span></a>
                            </span>

                        <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a href="javascript:;" style="color: #8f939e">商户编号：<span
                                        th:text="${mallCustomer.customerId}">10000005</span></a>
                            </span>

                        <span style="width: 160px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;">
                                <a href="javascript:void(0)" th:href="@{/logout}" style="color: #8f939e;">退出</a>
                            </span>

                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<button type="button" class="btn btn-default" onclick="homeHandle.order()">订单管理</button>
<button type="button" class="btn btn-default" onclick="homeHandle.operator()">操作员管理</button>
<button type="button" class="btn btn-default" onclick="homeHandle.store()">店铺管理</button>
</body>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script>
    var homeHandle = {
        order: function () {
            window.location.href = "/order/getOrderList"
        },
        operator: function () {
            window.location.href = "/operator/getOperatorList"
        },
        store: function () {
            window.location.href = "/store/getStoreList"
        }
    }
</script>
</html>