<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>

        订单列表
    </title>
    <link href="../../resources/3rdParty/css/admin.global.css" th:href="@{/resources/3rdParty/css/admin.global.css}"
          rel="stylesheet" type="text/css"/>
    <link href="../../resources/3rdParty/css/admin.content.css" th:href="@{/resources/3rdParty/css/admin.content.css}"
          rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../resources/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resources/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resources/3rdParty/js/jquery.utils.js"
            th:src="@{/resources/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resources/3rdParty/jBox/Skins/Green/jbox.css"
          th:href="@{/resources/3rdParty/jBox/Skins/Green/jbox.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../resources/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resources/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resources/3rdParty/js/admin.js"
            th:src="@{/resources/3rdParty/js/admin.js}"></script>
    <link href="../../resources/3rdParty/omTabs/themes/default/operamasks-ui.min.css"
          th:href="@{/resources/3rdParty/omTabs/themes/default/operamasks-ui.min.css}" rel="stylesheet" type="text/css"/>
    <script src="../../resources/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resources/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <link href="../../resources/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resources/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../../resources/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resources/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var isInteger = /^[0-9]*[1-9][0-9]*$/;
        //#region 导出助手
        var exportHelper = {};
        exportHelper.checkPage = function (txtBeginPage, txtEndPage) {
            var numberBug = pageCount;//总页数
            if (txtBeginPage == '' || txtEndPage == ''||!isInteger.test(txtBeginPage)||!isInteger.test(txtEndPage)) {
                return {flag: false, msg: '请输入正确的起止页码'};
            }
            var beginPage = parseInt(txtBeginPage);
            var endPage = parseInt(txtEndPage);
            var maxPage = parseInt(numberBug);
            if (endPage < beginPage) {
                return {flag: false, msg: '结束页不能小于起始页'};
            }
            if (endPage > maxPage) {
                return {flag: false, msg: '结束页不能大于总页数'};
            }
            return {flag: true};
        };

        exportHelper.showDialogV2 = function () {
            var txtBeginPage = $("#txtBeginPage").val();
            var txtEndPage = $("#txtEndPage").val();
            var chkResult = this.checkPage(txtBeginPage, txtEndPage);
            if (!chkResult.flag) {
                jBox.tip(chkResult.msg, 'info');
                return;
            }
            var url = /*[[@{/order/orderExport}]]*/ "";
        };
        $(function () {
        });
    </script>
    <style>
        #jbox {
            left: 20%;
        }
    </style>
</head>
<body marginwidth="0" marginheight="0">

<form method="post" action="/order/getOrderList" th:action="@{/order/getOrderList}" id="form1"
      th:object="${orderSearchCondition}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>
                <h3>订单筛选</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">
                <div class="cnt">
                    <div class="search-bar">
                        <label class="first ">订单号：</label>
                        <input name="orderId" type="text" th:value="*{orderId}" id="orderId" class="input-small"
                               style="width: 120px;"/>
                        <label class="first ">商品名称：</label>
                        <input name="orderItemName" type="text" th:value="*{orderItemName}" id="orderItemName"
                               class="input-small" style="width: 120px;"/>
                        <label class="first ">收货人姓名：</label>
                        <input name="shipName" type="text" th:value="*{shipName}" id="shipName" class="input-small"
                               style="width: 120px;"/>
                        <label class="first ">收货人电话：</label>
                        <input name="shipMobile" type="text" th:value="*{shipMobile}" id="shipMobile"
                               class="input-small" style="width: 120px;"/>
                        <br/>
                        <br/>
                        <label class="first ">付款状态：</label>
                        <select name="payStatus" id="payStatus">
                            <option selected="selected" value="-1" th:selected="*{payStatus == -1}">==所有==</option>
                            <option th:each="payStatusEnum:${payStatusEnums}" th:value="${payStatusEnum.code}"
                                    th:text="${payStatusEnum.value}"
                                    th:selected="${payStatusEnum.code == orderSearchCondition.payStatus}">未支付
                            </option>
                        </select>
                        <label class="first ">发货状态：</label>
                        <select name="shipStatus" id="shipStatus">
                            <option selected="selected" value="-1" th:selected="*{shipStatus == -1}">==所有==</option>
                            <option th:each="shipStatusEnum:${shipStatusEnums}" th:value="${shipStatusEnum.code}"
                                    th:text="${shipStatusEnum.value}"
                                    th:selected="${shipStatusEnum.code == orderSearchCondition.shipStatus}">未发货
                            </option>
                        </select>
                        &nbsp;
                        <label class="first ">排序：</label>
                        <select name="orderType" id="orderType">
                            <option selected="selected" value="0" th:selected="*{orderType==0}">按下单时间</option>
                            <option value="1" th:selected="*{orderType==1}">按支付时间</option>
                            <option value="2" th:selected="*{orderType==2}">按订单金额</option>
                        </select>
                        <style type="text/css">
                            #raSortType label {
                                padding-left: 0px;
                            }
                        </style>
                        <span id="raSortType">
                            <input id="raSortType_0" type="radio" name="raSortType" value="0"
                                   th:checked="*{orderRule==0}" checked="checked"/>
                            <label for="raSortType_0">倒序</label>
                            <input id="raSortType_1" type="radio" name="raSortType" value="1"
                                   th:checked="*{orderRule==1}"/>
                            <label for="raSortType_1">顺序</label>
                            <input type="hidden" name="orderRule" th:value="*{orderRule}"/>
                        </span>

                        <br/>
                        <br/>

                        <label class="first ">下单时间：</label>

                        <input name="beginTime" type="text" id="beginTime" placeholder=" [开始日期]"
                               class="input-normal Wdate" th:value="*{beginTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>---
                        <input name="endTime" type="text" id="endTime" placeholder=" [结束日期]"
                               class="input-normal Wdate" th:value="*{endTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginTime\')}'})"/>

                        <br/>
                        <br/>

                        <label class="first ">支付时间：</label>

                        <input name="beginPayTime" type="text" id="beginPayTime" th:value="*{beginPayTime}"
                               placeholder=" [开始日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>---
                        <input name="endPayTime" type="text" id="endPayTime" th:value="*{endPayTime}"
                               placeholder=" [结束日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginPayTime\')}'})"/>

                        <div style="display: none;">
                            <input type="submit" name="btnSearch" value="" id="btnSearch"/>
                            <input type="submit" name="btnSearchAll" value="" id="btnSearchAll"/>
                        </div>
                        <label><a class="btn-lit btn-middle" id="search" href="javascript:searchOrder();"
                                  style="margin-bottom: 3px;"><span>搜索</span></a></label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchOrderAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>

                        <br/>
                        <br/>
                        <label class="first ">导出订单：</label>
                        第<input name="txtBeginPage" type="text" value="1" id="txtBeginPage"
                                style="height:15px;width:28px;"/>页
                        至 第<input name="txtEndPage" type="text" value="5" id="txtEndPage" th:value="${totalPages}"
                                  class="input-small OnlyNum"
                                  style="height:15px;width:28px;"/>页
                        <label>
                            <a id="A1" class="btn-lit btn-middle" style="margin-bottom: 3px;"
                               href="javascript:exportHelper.showDialogV2();">
                                <span>导出主订单</span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>

                <h3 style="float: left; width: 144px;">订单管理 </h3>

                <div class="bar">
                    <a class="btn-lit aucontrol" href="javascript:showBatchDelivery();">
                        <span>批量发货</span></a>
                </div>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">

                <div id="Div1" class="om-tabs om-widget om-widget-content om-corner-all" style="height: auto;">
                    <div class="om-tabs-headers om-helper-reset om-helper-clearfix om-widget-header om-corner-all header-no-border"
                         style="height: 28px;">
                        <ul style="height: 28px; line-height: 28px;">
                            <span class="left-placeholder"></span>
                            <li class="om-state-default om-corner-top"
                                th:classappend="${orderSearchCondition.shipStatus==-1?'om-tabs-activated om-state-active':''}"
                                id="ddgl1">
                                <span class="lileft"></span><a href="javascript:showList(0);" class="om-tabs-inner"
                                                               style="width: auto; height: 27px;">全部</a><span
                                    class="liright"></span>
                            </li>
                            <li class="om-state-default om-corner-top"
                                th:classappend="${orderSearchCondition.shipStatus==0?'om-tabs-activated om-state-active':''}"
                                id="ddgl2"><span class="lileft"></span><a
                                    href="javascript:showList(2);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">未发货</a><span class="liright"></span></li>

                            <li class="om-state-default om-corner-top"
                                th:classappend="${orderSearchCondition.shipStatus==1?'om-tabs-activated om-state-active':''}"
                                id="ddgl3"><span class="lileft">
                            </span><a
                                    href="javascript:showList(2);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">已发货</a><span class="liright"></span></li>

                            <li class="om-state-default om-corner-top"
                                th:classappend="${orderSearchCondition.shipStatus==4?'om-tabs-activated om-state-active':''}"
                                id="ddgl4"><span class="lileft"></span><a
                                    href="javascript:showList(4);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">已退货</a><span class="liright"></span></li>

                            <span class="right-placeholder"></span>
                        </ul>
                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">

                        <div class="om-widget om-panel ">
                            <div id="Div2"
                                 class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="cnt">
                                    <style>

                                        .kkl td {
                                            max-width: 110px;
                                            text-align: center;
                                            word-wrap: break-word;
                                            word-break: break-all
                                        }
                                    </style>
                                    <table class="data-table even1 " width="100%" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tr class="kkl">
                                            <th scope="col">订单号
                                            </th>
                                            <th scope="col">商品
                                            </th>
                                            <th scope="col">
                                                下单时间/支付时间
                                            </th>

                                            <th scope="col">总额(¥)
                                            </th>

                                            <th scope="col">收货人
                                            </th>

                                            <th scope="col">状态
                                            </th>
                                            <th scope="col">支付方式
                                            </th>
                                            <th scope="col">订单类型
                                            </th>
                                            <th scope="col">操作
                                            </th>
                                        </tr>
                                        <tbody>
                                        <tr class="kkl" th:each="orders:${ordersList}"
                                            th:classappend="${ordersStat.odd}? 'even'">
                                            <td style="width: 165px;">
                                                <a href="javascript:void(0)" th:attr="orderId=''+${orders.orderId}"
                                                   onclick="showDetail(this)" title="查看详细"
                                                   th:text="${orders.orderId}"></a>
                                            </td>
                                            <td style="width: 265px">
                                                <div style="clear: both" th:each="item:${orders.orderItems}">
                                                    <div style="width: 50px; height: 50px;margin: 0 5px; float: left">
                                                        <!--商品-->
                                                        <img style="width: 100%;"
                                                             src=""
                                                             th:src="${item.picUri != null ? item.picUri.toString() : '../resource/3rdParty/images/none.png'}"/>
                                                    </div>
                                                    <div style="float: left; width:200px; text-align: left">
                                                        <p style="white-space:nowrap; text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;width:80%;"
                                                           th:text="${item.name}">商品名称</p>

                                                        <p th:text="'X' + ${item.nums}">X1</p></div>
                                                </div>
                                            </td>
                                            <td style="width: 150px;">
                                                <p th:text="${#dates.format(orders.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                                    2015/9/21 20:18:01</p>
                                                <p style='color:#ccc;'
                                                   th:if="${orders.payTime!=null and orders.payTime!='——无——'}"
                                                   th:text="${#dates.format(orders.payTime,'yyyy-MM-dd HH:mm:ss')}">
                                                    ——无——</p>
                                            </td>
                                            <td th:text="${orders.finalAmount}">100</td>
                                            <td style="width: 100px;" th:text="${orders.shipName}">
                                                asdf
                                            </td>
                                            <td>
                                                <p th:text="${orders.payStatus.value}">未支付</p>
                                                <p th:text="${orders.shipStatus.value}">未发货</p>
                                            </td>
                                            <td th:text="${orders.paymentType.value}">
                                                银联在线支付
                                            </td>
                                            <td th:text="${orders.orderSourceType.value}">
                                                普通订单
                                            </td>
                                            <td style="width: 80px;">
                                                <div th:inline="text">
                                                    <p th:if="${orders.deliveryable()}">
                                                        <a href="javascript:void(0)"
                                                           th:attr="orderId=''+${orders.orderId}"
                                                           th:onclick="|showConsignFlow(this,${orders.orderSourceType.code})|"
                                                           onclick="showConsignFlow(this)" id="btnConsignFlow"
                                                           title="发货" th:if="${orders.deliveryable()}">发货</a>
                                                    </p>
                                                    <p>
                                                        <a href="javascript:void(0)"
                                                           th:attr="orderId=''+${orders.orderId}"
                                                           onclick="showDetail(this)" id="btnDetail"
                                                           title="查看详细">查看详细</a>
                                                    </p>
                                                    <p>
                                                        <a href="javascript:void(0)"
                                                           th:attr="orderId=''+${orders.orderId}"
                                                           onclick="showRemark(this)" id="supplierRemark"
                                                           title="备注">备注</a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <script type="text/javascript" th:inline="javascript">
                                    /*<![CDATA[*/
                                    var pageSize = /*[[${pageSize}]]*/ '1';
                                    var pageIndex = /*[[${pageIndex}]]*/ '1';
                                    var pageCount = /*[[${totalPages}]]*/ '1';
                                    var recordCount = /*[[${totalRecords}]]*/ '1';
                                    var formName = 'form1';
                                    Pager.Output(formName, 'pageIndex', pageSize, pageIndex, pageCount, recordCount);
                                    /*]]>*/
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    var orderUrl = /*[[@{/order/}]]*/ "/order/";
    function showBatchDelivery() {
        var url = orderUrl + 'batchDeliver';
        J.PopupIFrame(url, "发货操作", 370, 220, "ifrm", "", "auto", "");
    }

    function showConsignFlow(obj, sourceType) {//发货
        var orderId = $(obj).attr("orderId");

        //判断是否是拼团订单,如果为成团不能发货
        J.GetJsonRespons(orderUrl + "pintuanCheck", {
            orderId: orderId,
            orderSource: sourceType
        }, function (json) {
            if (json.code == 200) {
                $.jBox.tip("该订单为拼团订单并且未成团,无法发货");
            } else {
                var title = "发货操作";
//        if (type == 1) {
//            title = "退货操作";
//        }
                var url = orderUrl + 'delivery?orderId=' + orderId + "&pageIndex=" + pageIndex;
                J.PopupIFrame(url, title, 900, 500, "ifrm", "", "auto", "");
            }
        }, function () {
        }, "post");


    }

    //查看详细
    function showDetail(obj) {
        var orderId = $(obj).attr("orderId");
        window.location.href = orderUrl + "showOrderDetail?orderId=" + orderId + "&pageIndex=" + $("input[name=pageIndex]").val();
//        J.PopupIFrame(url, "订单详情", 1100, 680, "ifrm", "", "auto", "");
    }

    //备注
    function showRemark(obj) {
        var orderId = $(obj).attr("orderId");
        var url = orderUrl + 'showRemark?orderId=' + orderId;
        J.PopupIFrame(url, "订单 " + orderId + " 备注", 500, 300, "ifrm", "", "auto", "");
    }

    //退货
    function showRefunds(obj) {
        var orderId = $(obj).attr("orderId");
        var url = orderUrl + 'showRefundForm?orderId=' + orderId;
        J.PopupIFrame(url, "退货操作", 900, 480, "ifrm", "", "auto", "");
    }

    function searchOrder() {
        $("input[name=orderRule]").val($("input[name=raSortType]:checked").val());
        $("input[name=pageIndex]").val(1);
        $('#form1').submit();
    }
    function searchOrderAll() {
        window.location.href = /*[[@{/order/getOrdersPage}]]*/ "";
    }
    function createRight() {//左页面点击事件
        searchOrderAll();
    }
    /*]]>*/
</script>
</body>
</html>