<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>订单列表</title>

    <link href="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Morris -->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/animate.min.css" rel="stylesheet"/>
    <link href="http://resali.huobanplus.com/cdn/hotui/css/style.min-1.0.8.css" rel="stylesheet"/>
    <!--datetimepick-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/datetimepick/daterangepicker.css" rel="stylesheet"/>
    <!--checkbox-->
    <link href="http://resali.huobanplus.com/cdn/hotui/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight tooltip-demo" th:object="${searchCondition}">
    <!--search-->
    <form role="form" class="search-panel" method="get" action="/order/getOrdersPage"
          th:action="@{/order/getOrderList}" id="form1">
        <input type="hidden" name="pageIndex" value="1" th:value="${pageIndex}"/>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title"><h5>订单列表</h5></div>
                    <div class="ibox-content p-m">
                        <div class="form-inline">
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="orderId">订单号：</label>
                                <input type="text" class="form-control input-sm mb10" id="orderId" name="orderId"
                                       th:value="*{orderId}"
                                       placeholder="订单号" style="width: 156px;"/>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="orderItemName">商品名称：</label>
                                <input type="text" class="form-control input-sm mb10" id="orderItemName"
                                       th:value="*{orderItemName}"
                                       name="orderItemName" placeholder="用户名"/>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="shipName">收货人姓名：</label>
                                <input type="text" class="form-control input-sm mb10" id="shipName" name="shipName"
                                       th:value="*{shipName}"
                                       placeholder="收货人姓名"/>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="shipMobile">收货人电话：</label>
                                <input type="text" class="form-control input-sm mb10" id="shipMobile" name="shipMobile"
                                       th:value="*{shipMobile}"
                                       placeholder="收货人电话"/>
                            </div>
                        </div>
                        <p class="divider-vertical"></p>
                        <div class="form-inline">
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="createTimePick">下单时间：</label>
                                <input type="text" class="form-control input-sm mb10"
                                       id="createTimePick" name="createTimePick"
                                       placeholder="开始时间-结束时间" style="width: 310px;"
                                       th:value="(*{beginTime!= null and beginTime != ''}  ? *{beginTime} :'')  + (*{endTime != null and endTime != ''} ?  ' - ' + *{endTime} :'') ">
                                <input type="hidden" id="beginTime" name="beginTime"
                                       th:value="*{beginTime}"/>
                                <input type="hidden" id="endTime" name="endTime" th:value="*{endTime}"/>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="payTimePick">支付时间：</label>
                                <input type="text" class="form-control input-sm mb10"
                                       id="payTimePick" name="payTimePick" placeholder="开始时间-结束时间" style="width: 310px;"
                                       th:value="(*{beginPayTime!= null and beginPayTime != ''}  ? *{beginPayTime} :'')  + (*{endPayTime != null and endPayTime != ''} ?  ' - ' + *{endPayTime} :'') "/>
                                <input type="hidden" id="beginPayTime" name="beginPayTime"
                                       th:value="*{beginPayTime}"/>
                                <input type="hidden" id="endPayTime" name="endPayTime"
                                       th:value="*{endPayTime}"/>
                            </div>
                        </div>
                        <p class="divider-vertical"></p>
                        <div class="form-inline" style="max-width: 926px;">
                            <div class="form-group m-r-sm">
                                <label class=" control-label">排序：</label>
                                <select class="form-control input-sm" name="orderType" id="orderType">
                                    <option selected="selected" value="0" th:selected="*{orderType==0}">按下单时间</option>
                                    <option value="1" th:selected="*{orderType==1}">按支付时间</option>
                                    <option value="2" th:selected="*{orderType==2}">按订单金额</option>
                                </select>
                            </div>
                            <div class="form-group m-r-sm">
                                <div class="radio radio-primary" style="padding-left: 8px;">
                                    <input type="radio" id="raSortType_0" name="orderRule"
                                           checked="checked" value="0" th:checked="*{orderRule==0}"/>
                                    <label for="raSortType_0">倒序</label>
                                </div>
                                <div class="radio radio-primary" style="padding-left: 8px;">
                                    <input type="radio" id="raSortType_1" name="orderRule" value="1"
                                           th:checked="*{orderRule==1}"/>
                                    <label for="raSortType_1">顺序</label>
                                </div>
                            </div>
                            <div class="form-group m-r-sm">
                                <label class=" control-label" for="ddlShipStatus">发货状态：</label>
                                <select class="form-control input-sm" name="shipStatus" id="ddlShipStatus">
                                    <option selected="selected" value="-1" th:selected="*{shipStatus == -1}">
                                        ==所有==
                                    </option>
                                    <option th:each="shipStatusEnum:${shipStatusEnums}"
                                            th:value="${shipStatusEnum.code}" th:text="${shipStatusEnum.value}"
                                            th:selected="${shipStatusEnum.code == searchCondition.shipStatus}">未发货
                                    </option>
                                </select>
                            </div>
                            <!--<div class="form-group m-r-sm">-->
                                <!--<label class="control-label">结算状态：</label>-->
                                <!--<select class="form-control input-sm" name="settleStatus" id="settleStatus">-->
                                    <!--<option selected="selected" value="-1">请选择</option>-->
                                    <!--<option value="1" th:selected="*{settleStatus == 1}">待结算</option>-->
                                    <!--<option value="2" th:selected="*{settleStatus == 2}">已结算</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        </div>
                        <p class="divider-vertical"></p>
                        <div id="extraSearch_panel">
                            <div class="form-inline">
                                <div class="form-group m-r-sm">
                                    <label class=" control-label" for="ddlOrderStatus">订单状态：</label>
                                    <select class="form-control input-sm" name="orderStatus" id="ddlOrderStatus">
                                        <option selected="selected" value="-3" th:selected="*{orderStatus == -3}">
                                            ==所有==
                                        </option>
                                        <option th:each="orderStatusEnum:${orderStatusEnums}"
                                                th:value="${orderStatusEnum.code}" th:text="${orderStatusEnum.value}"
                                                th:selected="${orderStatusEnum.code == searchCondition.orderStatus}">活动
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group m-r-sm">
                                    <label class=" control-label" for="ddlPayStatus">支付状态：</label>
                                    <select class="form-control input-sm" name="payStatus" id="ddlPayStatus">
                                        <option selected="selected" value="-1" th:selected="*{payStatus == -1}">==所有==
                                        </option>
                                        <option th:each="payStatusEnum:${payStatusEnums}"
                                                th:value="${payStatusEnum.code}" th:text="${payStatusEnum.value}"
                                                th:selected="${payStatusEnum.code == searchCondition.payStatus}">未支付
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group m-r-sm">
                                    <label class=" control-label" for="ddlOrderSource">订单类型：</label>
                                    <select class="form-control input-sm" name="sourceTypeStatus" id="ddlOrderSource">
                                        <option selected="selected" value="-1" th:selected="*{sourceTypeStatus == -1}">
                                            ==所有==
                                        </option>
                                        <option th:each="sourceTypeEnum:${sourceTypeEnums}"
                                                th:value="${sourceTypeEnum.code}" th:text="${sourceTypeEnum.value}"
                                                th:selected="${sourceTypeEnum.code == searchCondition.sourceTypeStatus}">
                                            普通订单
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group m-r-sm">
                                    <label class=" control-label" for="ddlPayType">支付类型：</label>
                                    <select class="form-control input-sm" id="ddlPayType" name="paymentTypeStatus">
                                        <option selected="selected" value="-1" th:selected="*{paymentTypeStatus == -1}">
                                            ==所有==
                                        </option>
                                        <option th:each="paymentTypeEnum:${paymentTypeEnums}"
                                                th:value="${paymentTypeEnum.code}" th:text="${paymentTypeEnum.value}"
                                                th:selected="${paymentTypeEnum.code == searchCondition.paymentTypeStatus}">
                                            微信支付
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="divider-vertical"></p>
                        <div class="form-inline" style="max-width: 926px; text-align: right;">
                            <button type="button" onclick="orderListHandler.search(1)" class="btn btn-success btn-sm">筛选
                            </button>
                            <button type="button" onclick="orderListHandler.searchAll()" class="btn btn-success btn-sm">
                                显示全部
                            </button>
                            <button type="button" class="btn btn-white btn-sm" id="btnBatchExport">批量导出</button>
                            <button type="button" id="btnBatchDeliver" class="btn btn-white btn-sm">批量发货</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--search-->

    <!--list-->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li th:class="*{shipStatus == -1} ? 'active' : ''"><a href="javascript:showList('',-1);">全部</a>
                        </li>
                        <!--<li th:class="*{payStatus == 0} ? 'active' : _"><a href="javascript:showList('#ddlPayStatus',0)">待付款</a></li>-->
                        <li th:class="*{shipStatus == 0} ? 'active' : ''"><a href="javascript:showList('shipStatus',0)">未发货</a>
                        </li>
                        <li th:class="*{shipStatus == 1} ? 'active' : ''"><a href="javascript:showList('shipStatus',1)">已发货</a>
                        </li>
                        <li th:class="*{shipStatus == 4} ? 'active' : ''"><a href="javascript:showList('shipStatus',4)">已退货</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="panel-body">
                                <table th:each="orders:${ordersList}"
                                       class="table table-bordered table-hover table-center">
                                    <thead>
                                    <tr>
                                        <th colspan="8" style="color: #636e7b; padding-bottom: 0px; text-align: left;">
                                            订单号：
                                            <th:block th:text="${orders.orderId}">2016081638541286</th:block>
                                            <span class="text-danger" th:text="'（' + ${orders.orderStatus.value} + '）'">（活动）</span>
                                            <p style="float: right;">
                                                <span class="glyphicon glyphicon-time" data-placement="top"
                                                      data-toggle="tooltip" data-original-title="下单时间"></span>：
                                                <th:block
                                                        th:text="${#dates.format(orders.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                                    2016-04-19 17:20:12
                                                </th:block>
                                                &nbsp;
                                                <span th:if="${orders.payTime != null}"><i class="fa fa-cny"
                                                                                           data-placement="top"
                                                                                           data-toggle="tooltip"
                                                                                           data-original-title="支付时间"></i>：<th:block
                                                        th:text="${#dates.format(orders.payTime,'yyyy-MM-dd HH:mm:ss')}">2016-10-22 17:46:13</th:block>&nbsp;</span>

                                                <span class="glyphicon glyphicon-copyright-mark" data-placement="top"
                                                      data-toggle="tooltip" data-original-title="支付类型"></span>
                                                <th:block
                                                        th:text="${orders.paymentType != null ? orders.paymentType.value : '未知'}">
                                                    预付款
                                                </th:block>
                                            </p>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>商品信息</td>
                                        <td>金额</td>
                                        <td>收货人</td>
                                        <td>订单类型</td>
                                        <td>支付状态</td>
                                        <td>发货状态</td>
                                        <td>操作</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;">
                                            <p th:each="item:${orders.orderItems}" style="width: 100%; height: 50px;">
                                                <!--商品-->
                                                <img style="width: 50px; height: 50px; float: left; margin-left: 5px;"
                                                     src=""
                                                     th:src="${item.picUri != null ? item.picUri.toString() : '../../resources/images/none.png'}"/>
                                                <span style="overflow: hidden; text-align: left; margin-left: 10px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
                                                 -webkit-box-orient: vertical; width: 54%; float: left;"
                                                      th:text="${item.name}">商品名称</span>
                                                <span style="float: right; margin-top: 30px"
                                                      th:text="'X' + ${item.nums}">X1</span>
                                            </p>
                                        </td>
                                        <td>
                                            <p th:text="'实付金额：' + ${orders.finalAmount}"></p>
                                            <p th:text="'成本价：' + ${#aggregates.sum(orders.orderItems.![cost * nums])}"></p>
                                        </td>
                                        <td th:text="${orders.shipName}">allan</td>
                                        <td th:text="${orders.orderSourceType != null ? orders.orderSourceType.value : '未知'}">
                                            普通订单
                                        </td>
                                        <td th:text="${orders.payStatus.value}">已支付</td>
                                        <td th:text="${orders.shipStatus.value}">已发货</td>
                                        <td style="width: 15%;">
                                            <span class="cursor-point" th:if="${orders.deliveryable()}"
                                                  th:attr="orderId=''+${orders.orderId}"
                                                  th:onclick="|orderListHandler .showConsignFlow(this,${orders.orderSourceType != null ? orders.orderSourceType.code : ''})|"
                                                  onclick="orderListHandler.showConsignFlow(this)" id="btnConsignFlow">
                                                        <i class="fa fa-truck fa-lg tooltips"
                                                           data-placement="top" data-toggle="tooltip"
                                                           data-original-title="发货"></i>
                                            </span>
                                            &nbsp;
                                            <span class="cursor-point" th:attr="orderId=''+${orders.orderId}"
                                                  onclick="showDetail(this)" id="btnDetail">
                                                <i class="fa fa-pencil fa-lg tooltips" data-placement="top"
                                                   data-toggle="tooltip"
                                                   data-original-title="操作订单"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p style="float: left; margin: 20px 0;">共
                                    <th:block th:text="${totalRecords}">100</th:block>
                                    条记录，当前第
                                    <th:block th:text="${pageIndex}">1</th:block>
                                    /
                                    <th:block th:text="${totalPages}">15</th:block>
                                    ，每页
                                    <th:block th:text="${pageSize}">10</th:block>
                                    条记录
                                </p>
                                <ul style="float: right;" class="pagination pagination-split">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--批量导出-->
<div id="batchExportModal" class="modal-content-tag">
    <div class="form-inline">
        <div class="form-group">
            <label class=" control-label" for="orderId">导出订单：</label>
            第<input type="text" class="form-control input-sm mb10" id="txtBeginPage" style="width: 80px;" value="1"/>页 至
            第<input type="text" class="form-control input-sm mb10" id="txtEndPage" style="width: 80px;"
                    th:value="${totalPages}"/>页
        </div>
    </div>
</div>
<!--批量发货modal-->
<div id="batchDeliverModal" class="modal-content-tag tooltip-demo">
    <form id="batchDeliver_form" novalidate="novalidate">
        <div class="form-horizontal" style="width: 500px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Excel：</label>
                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="file" class="form-control" name="FileData" id="batchDeliverFile" required=""
                               aria-required="true"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--基础框架js-->
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/bootstrap/3.3.5/bootstrap.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/content.min.js"></script>
<!--日期选择-->
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/moment.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/datetimepick/daterangepicker.js"></script>
<!--file-->
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="http://resali.huobanplus.com/cdn/hotui/js/plugins/ajaxfileupload/ajaxfileupload.js"></script>
<!--validate-->
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/jquery.validate.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/additional-methods.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/jquery-validation/1.15.0/localization/messages_zh.min.js"></script>

<script src="../../resources/js/hot/bootstrap.hot.extra-utils.js"
        th:src="@{/resources/js/hot/bootstrap.hot.extra-utils.js}"></script>
<script src="../../resources/js/hot/bootstrap.hot.extra-init.js"
        th:src="@{/resources/js/hot/bootstrap.hot.extra-init.js}"></script>
<script src="../../resources/js/order/timeInit.js" th:src="@{/resources/js/order/timeInit.js}"></script>
<script th:inline="javascript">
    var orderUrl = /*[[@{/order}]]*/ "/order";
    var customerId = /*[[${supplierId}]]*/ 1;
    var pageIndex = /*[[${pageIndex}]]*/ 1;
    var totalPage = /*[[${totalPages}]]*/ 20;
    var isInteger = /^[0-9]*[1-9][0-9]*$/;
    $(function () {
        $("#remark_form").validate();
        $("#batchDeliver_form").validate();
        //初始化分页
        var pageinate = new hot.paging(".pagination", pageIndex, totalPage, 7);
        pageinate.init(function (p) {
            orderListHandler.search(p);
        });
    })
    /*<![CDATA[*/
    var batchExportModal = $("#batchExportModal").modal("批量导出", function () {
        var txtBeginPage = $("#txtBeginPage").val();
        var txtEndPage = $("#txtEndPage").val();

        var chkResult = exportHelper.checkPage(txtBeginPage, txtEndPage);
        if (!chkResult.flag) {
            hot.tip.error(chkResult.msg);
            return;
        }
        var txtOrderId = $("#orderId").val();
        var shipName = $("#shipName").val();
        var shipMobile = $("#shipMobile").val();
        var shipStatus = $("select[name=shipStatus]").val();
        var orderStatus = $("select[name=orderStatus]").val();
        var payStatus = $("select[name=payStatus]").val();
        var orderType = $("select[name=orderType]").val();
        var orderRule = $("input[name=orderRule]:checked").val();
        var txtBeginTime = $("#beginTime").val();
        var txtEndTime = $("#endTime").val();
        var txtEndPaytime = $("#endPayTime").val();
        var txtBeginPaytime = $("#beginPayTime").val();
        var paymentTypeStatus = $("select[name=paymentTypeStatus]").val();
        var sourceTypeStatus = $("select[name=sourceTypeStatus]").val();
        var orderItemName = $("#orderItemName").val();
        var url = orderUrl + "/exportExcel";
        url += '?rnd='
            + Math.random()
            + '&customerId=' + customerId
            + '&orderId=' + txtOrderId
            + '&shipName=' + shipName
            + '&shipMobile=' + shipMobile
            + '&orderStatus=' + orderStatus
            + '&shipStatus=' + shipStatus
            + '&payStatus=' + payStatus
            + '&paymentTypeStatus=' + paymentTypeStatus
            + '&sourceTypeStatus=' + sourceTypeStatus
            + '&orderType=' + orderType
            + '&orderRule=' + orderRule
            + '&beginTime=' + txtBeginTime
            + '&endTime=' + txtEndTime
            + '&endPayTime=' + txtEndPaytime
            + '&beginPayTime=' + txtBeginPaytime
            + '&orderItemName=' + orderItemName
            + '&txtBeginPage=' + txtBeginPage
            + '&txtEndPage=' + txtEndPage;
        window.location.href = url;
        batchExportModal.hide();
    });
    var batchDeliverModal = $("#batchDeliverModal").modal("批量发货", function () {
        if (!$("#batchDeliver_form").valid()) {
            return;
        }
        hot.loading.show();
        hot.uploadFile(orderUrl + "/batchDeliver", 'batchDeliverFile', function (result) {
            if (result.code == 200) {
            } else {
            }
        }, function (result) {
            hot.tip.error(result.msg);
        })
    });
    //选项卡
    function showList(name, value) {
        if (name == '') {
            $("#ddlShipStatus").val(-1);
            $("input[name=pageIndex]").val(1);
            $('#form1').submit();
        } else {
            $("select[name=" + name + "]").val(value);
            $("input[name=pageIndex]").val(1);
            $('#form1').submit();
        }
    }

    var orderListHandler = {
        search: function (pageIndex) {
            $("input[name=pageIndex]").val(pageIndex);
            $('#form1').submit();
        },
        searchAll: function () {
            window.location.href = orderUrl + "/getOrderList";
        },
        showConsignFlow: function (obj, sourceType) {
            var orderId = $(obj).attr("orderId");
            //判断是否是拼团订单,如果为成团不能发货
            hot.ajax(orderUrl + "/pintuanCheck", {
                orderId: orderId,
                orderSource: sourceType
            }, function (res) {
                if (res.code == 200) {
                    hot.tip.error("该订单为拼团订单并且未成团,无法发货");
                } else {
                    var title = "发货操作";
                    var url = orderUrl + '/deliveryView?orderId=' + orderId + "&pageIndex=" + pageIndex;
                    hot.iframeModal(url, '900px', '730px', title);
                }
            }, function () {
            }, "post");
        }
    }
    var exportHelper = {
        checkPage: function (txtBeginPage, txtEndPage) {
            var numberBug = totalPage;//总页数
            if (txtBeginPage == '' || txtEndPage == '' || !isInteger.test(txtBeginPage) || !isInteger.test(txtEndPage)) {
                return {flag: false, msg: '请输入正确的起止页码'};
            }
            var beginPage = parseInt(txtBeginPage);
            var endPage = parseInt(txtEndPage);
            if (endPage < beginPage) {
                return {flag: false, msg: '结束页不能小于起始页'};
            }
            if (endPage > numberBug) {
                return {flag: false, msg: '结束页不能大于总页数'};
            }
            var _maxPage = 500;
            if (endPage - beginPage >= _maxPage) {
                $('#txtEndPage').focus().select();
                return {flag: false, msg: '最多导出' + _maxPage + '页'};
            }
            return {flag: true};
        }
    }
    //批量发货
    $("#btnBatchDeliver").click(function () {
        batchDeliverModal.show();
        $("#msgPanel").hide();
    });
    //批量导出
    $("#btnBatchExport").click(function () {
        batchExportModal.show();
    });
    //查看详细
    function showDetail(obj) {
        var orderId = $(obj).attr("orderId");
        window.location.href = orderUrl + "/showOrderDetail?orderId=" + orderId;
    }
    /*]]>*/
</script>
</body>
</html>